

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@keyframes backgroundScrolling {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 686px 386px;
    }
}

body {
    background-color: white;
    /* background-image: url('assets/wallpaper.jpg'); */
    background-position: center;
    animation: backgroundScrolling 15s linear infinite;
}

.centered-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cool-table {
    display: none;
    border: none;
    background-color: rgba(255, 255, 255, .5);
}

.cool-table td {
    text-align: center;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.cool-table td > div {
    margin: 0 auto;
}

.funny-character {
    position: relative;
    height: 8rem;
    width: 6rem;
    background-color: red;
    border: .4rem solid black;
    border-radius: 4.5rem;
    box-shadow: inset 1rem -1.5rem 0 #65002f;
    bottom: 1rem;
    z-index: 10;
}

.funny-character::before {
    content: '';
    position: absolute;
    left: .4rem;
    bottom: 0;
    width: 4rem;
    height: 1.2rem;
    background-color: #65002f;
}

.funny-character .visor {
    position: absolute;
    top: 1.7rem;
    left: 2.2rem;
    height: 2.5rem;
    width: 4.2rem;
    background-color: lightskyblue;
    border: .4rem solid #13293a;
    border-radius: 2.5rem;
    box-shadow: inset 8px -8px 0 #4f7da1;
}

.funny-character .visor::before {
    content: '';
    position: absolute;
    top: .2rem;
    right: .3rem;
    height: .5rem;
    width: 1.2rem;
    background-color: white;
    border-radius: .35rem;
}

.funny-character .backpack {
    position: absolute;
    top: 1rem;
    left: -2rem;
    height: 5rem;
    width: 2rem;
    background-color: #65002f;
    border: .4rem solid black;
    border-radius: 25px 0 0 25px / 25px 0 0 25px;
    box-shadow: inset 0 15px red;
}

.funny-character .left-leg {
    position: absolute;
    top: 6rem;
    height: 3.5rem;
    width: 2.5rem;
    background-color: #65002f;
    border: .4rem solid black;
    border-top: none;
    border-radius: 0 0 60px 60px / 0 0 60px 60px;
    z-index: -1;
}

.funny-character .right-leg {
    position: absolute;
    top: 6rem;
    right: 0;
    height: 3.5rem;
    width: 2.5rem;
    background-color: #65002f;
    border: .4rem solid black;
    border-top: none;
    border-radius: 0 0 60px 60px / 0 0 60px 60px;
    z-index: -1;
}