:root {
    --player-primary-color: #c51112;
    --player-secundary-color: #7a0839;
    font-size: 1rem;
}

/* For bigger screens*/
/* @media screen and (min-height: 55rem) {
    :root {
        font-size: 1rem;
    }
} */

@font-face {
    font-family: 'AmaticSC';
    src: url('assets/fonts/AmaticSC-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    box-sizing: border-box;
    font-family: 'AmaticSC';
    text-decoration: none;
}

@keyframes backgroundScrolling {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 686px 386px;
    }
}

/* @keyframes walk {
    0% {
        height: 3.2rem;
    }
    50% {
        height: 3.5rem;
    }
    100% {
        height: 3.2rem;
    }
} */

body {
    background-image: url('assets/images/wallpaper.jpg');
    background-position: center;
    animation: backgroundScrolling 15s linear infinite;
}

.container {
    position: flex;
    height: 100vh;
    margin: auto;
    justify-content: center;
}

.timer {
    text-align: center;
    color: white;
    font-size: 4rem;
}

.points {
    margin: 1rem auto 0 auto;
    text-align: center;
    width: 16rem;
    font-size: 4rem;
    font-weight: bold;
    border-radius: 0.2rem;
}

.rotate-character {
    position: absolute;
    left: 0.6rem;
    bottom: 0.6rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.8rem !important;
    padding: 0 !important;
}

.pause-window {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    color: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
}

.cool-div {
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    border: 0.2rem solid white;
    font-size: 3rem;
    cursor: default;
}

.cool-div p {
    font-size: 2rem;
    margin: 1.2rem 0;
}

.button {
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    border: 0.2rem solid white;
    font-size: 3rem;
    text-align: center;
    cursor: default;
}

.button:hover {
    border-color: #00ff00;
}

.wardrobe {
    height: 20rem;
    width: 30rem;
    background-color: #a1c0a3ee;
    padding: 1rem;
    border: 0.2rem solid #213031;
    border-radius: 0.4rem;
}

.wardrobe-container {
    vertical-align: middle;
    display: inline-block;
    width: 48%;
    height: 100%;
    background-color: #00000040;
    border-radius: 0.2rem;
}

.character-container {
    position: relative;
}

.funny-character .shadow {
    position: absolute;
    left: -1rem;
    bottom: -2.2rem;
    width: 7rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -2;
}

.input-group {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.input-group .button {
    font-size: 2rem;
}

.colors {
    float: right;
}

.colors .color {
    width: 3rem;
    height: 3rem;
    border: 0.3rem solid black;
    border-radius: 0.4rem;
}

.centered-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-container .title {
    color: white;
    text-align: center;
    font-size: 4rem;
}

.main-menu .button {
    display: block;
    margin: 2rem auto;
    width: 18rem;
}

.back-btn {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.reset-timer {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.back-btn:hover {
    border-color: #00ff00;
}

.acrilic {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
}

.cool-table {
    border: none;
    border-radius: 0.5rem;
    overflow: hidden;
}

.cool-table td {
    position: relative;
    min-width: 10rem;
    height: 10rem;
    border: 1px solid black;
}

.cool-table td > div {
    margin: 0 auto;
}

.funny-character {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 8rem;
    width: 6rem;
    background-color: var(--player-primary-color);
    border: 0.4rem solid black;
    border-radius: 4.5rem;
    box-shadow: inset 1rem -1.4rem 0 var(--player-secundary-color);
    bottom: 0.8rem;
    z-index: 2;
    transition: transform 0.2s ease-out;
}

.crewmate {
    background-color: #d7e0f1;
    box-shadow: inset 1rem -1.4rem 0 #8394bf;
    z-index: 1;
    transition: none;
}

.crewmate::before {
    background-color: #8394bf !important;
}

.crewmate .backpack {
    background-color: #8394bf !important;
    box-shadow: inset 0 0.8rem #d7e0f1 !important;
}

.crewmate .left-leg {
    background-color: #8394bf !important;
}

.crewmate .right-leg {
    background-color: #8394bf !important;
}

.funny-character::before {
    content: '';
    position: absolute;
    left: 2rem;
    bottom: 0;
    width: 1.2rem;
    height: 1.3rem;
    background-color: var(--player-secundary-color);
}

.funny-character .visor {
    position: absolute;
    top: 1.7rem;
    left: 2.2rem;
    height: 2.5rem;
    width: 4.2rem;
    background-color: lightskyblue;
    border: 0.4rem solid #13293a;
    border-radius: 2.5rem;
    box-shadow: inset 0.5rem -0.5rem 0 #4f7da1;
}

.funny-character .visor::before {
    content: '';
    position: absolute;
    top: 0.2rem;
    right: 0.3rem;
    height: 0.5rem;
    width: 1.2rem;
    background-color: white;
    border-radius: 0.35rem;
}

.funny-character .backpack {
    position: absolute;
    top: 1rem;
    left: -1.9rem;
    height: 5rem;
    width: 2rem;
    background-color: var(--player-secundary-color);
    border: 0.4rem solid black;
    border-radius: 1.5rem 0 0 1.5rem / 1.5rem 0 0 1.5rem;
    box-shadow: inset 0 0.8rem var(--player-primary-color);
}

.funny-character .left-leg {
    position: absolute;
    top: 6rem;
    height: 3.2rem;
    width: 2.5rem;
    background-color: var(--player-secundary-color);
    border: 0.4rem solid black;
    border-top: none;
    border-radius: 0 0 1.25rem 1.25rem / 0 0 1.25rem 1.25rem;
    z-index: -1;
    /* animation: walk .6s linear infinite; */
}

.funny-character .right-leg {
    position: absolute;
    top: 6rem;
    right: 0;
    height: 3.2rem;
    width: 2.5rem;
    background-color: var(--player-secundary-color);
    border: 0.4rem solid black;
    border-top: none;
    border-radius: 0 0 1.25rem 1.25rem / 0 0 1.25rem 1.25rem;
    z-index: -1;
    /* animation: walk .6s linear infinite; */
    animation-delay: 0.3s;
}
